.first-page{
  width: 100%;
  text-align: left;
  max-width: 330px;
  padding: 15px;
  margin:auto;
  height: 100%;
}

.container{
  background-image: url('./images/react-bg.jpg');
  min-width: 100%;
  min-height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: absolute;
}